:root {
	font-family: 'Roboto Slab', serif;
	font-weight: 200;

	--section-padding-v: 1rem;
	--section-padding-h: 4rem;
}
body {
	height: max-content;
	background: var(--color-black);
	padding: 1rem 0;
}
#page {
	max-width: 115ch;
	margin: 0 auto;
	background: white;
	box-shadow: black 0px 0px 20px 0px;
	font-size: 1.2rem;
}
@media print {
	:root { background: none; }
	body { padding: 0 }
	#page {
		background: none;
		max-width: 100%;
		box-shadow: none;
		/* Show element background colours */
		-webkit-print-color-adjust: exact; /* Chrome */
		color-adjust: exact; /* Firefox */
	}

	h1, h2, h3 { page-break-after: avoid }
	article .summary {
		li { break-inside: avoid }
		a {
			/* It's not a link when printing! */
			color: inherit;
			font-weight: 200;
		}
	}

	nav { display: none !important }
	@page {
		size: A4 portrait;
		margin: 1cm 0;

		:first { margin-top: 0 }
	}
}

h1, h2, h3 {
	font-family: 'Fantasque Sans Mono', monospace;
	margin: 0;
}
h1 { font-size: 4.2rem }
h2 { font-size: 2.2rem }
h3 { font-size: 1.7rem }
a, button.link { font-weight: normal }
b, strong { font-weight: 700 }

header {
	background: var(--color-primary-lighter);
	padding: 2rem var(--section-padding-h) var(--section-padding-v);
}
#titles li:not(:first-of-type)::before {
	content: '-';
	color: var(--color-primary);
	margin: 0 0.3rem;
}

#bio {
	justify-content: space-between;
	text-align: center;
	padding: var(--section-padding-v) var(--section-padding-h);
	margin-top: var(--section-padding-v);

	.bio-item {
		display: flex;
		flex-flow: column;
		margin: auto;

		.key { margin-bottom: 0.25rem }
	}
}

#contact {
	padding: var(--section-padding-v) var(--section-padding-h);

	&::before, &::after {
		content: '';
		display: inline-block;
		margin: auto 0;
		background-color: var(--color-primary);
		flex-grow: 1;
		height: 1px;
	}
	&::before { margin-right: 1rem }
	&::after { margin-left: 1rem }

	a i { margin-right: 0.3rem }
	a:not(:first-of-type) { margin-left: 1rem }
}

section {
	padding: var(--section-padding-v) var(--section-padding-h);
	h2 { margin-bottom: 1.5rem }

	&:not(:last-of-type) { margin-bottom: 0.5rem }

	.head {
		display: flex;
		flex-flow: row;
		color: var(--color-text);

		.title { margin-right: 1ch }
		.company { font-weight: normal }
		.date { margin-left: auto }
	}

	.summary {
		line-height: 1.5em;
		text-align: justify;
		list-style: none;
		padding: 0 1.5rem 0 0;
		margin: 1rem 0 1.5rem 0;

		b { color: var(--color-primary) }
		li {
			margin: 0 0 0.25rem 2rem;
			position: relative;

			&::before {
				position: absolute;
				left: -1.5rem;
				top: 0;
				content: '>';
				color: var(--color-primary-light);
			}
		}
	}
}

nav {
	position: fixed;
	top: 1rem;
	right: 0;

	display: flex;
	flex-flow: column;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem 1rem;
		margin-left: auto;
		border-radius: 0.3rem 0 0 0.3rem;
		transition: color var(--transition-duration-quick),
		background var(--transition-duration-normal),
		box-shadow var(--transition-duration-normal),
		transform var(--transition-duration-normal);

		.icon {
			font-size: 2.25rem;
			transition: text-shadow var(--transition-duration-normal);
		}
		.label {
			margin-left: 1rem;
			transition: opacity var(--transition-duration-normal);
			font-family: 'Arima Madurai', sans-serif;
			font-size: 1.5rem;
			height: 1.1rem; /* Necessary to center vertically? */
		}
		&:hover {
			background: var(--color-primary);
			box-shadow: black 0.1rem 0.1rem 1rem -0.5rem;
		}
		&:not(:hover) {
			transform: translateX(calc(100% - 3.25rem - 1.25em));

			.icon { text-shadow: black 0.1rem 0.1rem 0.3rem }
			.label { opacity: 0 }
		}
		&:not(:last-of-type) { margin-bottom: 1rem }
	}
}

@media only screen and (max-width: 105ch) {
	nav {
		top: unset;
		right: unset;
		bottom: 0;
		left: 0;

		width: 100%;
		flex-flow: row;
		box-shadow: black -0.1rem -0.1rem 1rem -0.5rem;
		a {
			height: 5rem; /* 1.75rem (icon) + 1.2rem (label) + 0.5rem (margin) + 2 * 1rem (padding) */
			margin: 0;
			border-radius: 0;
			width: 100%;
			flex-flow: column;

			background: var(--color-primary);
			color: var(--color-white);
			transition: background var(--transition-duration-quick);

			.icon { font-size: 1.75rem }
			.label {
				font-size: 1.25rem;
				margin: 0.5rem 0 0;
				transition: margin var(--transition-duration-normal),
				opacity var(--transition-duration-normal);
			}
			&:hover {
				background: var(--color-primary-dark);
				box-shadow: none;
			}
			&:not(:hover) {
				transform: none;
				.icon { text-shadow: none }
				.label { margin-top: -1.1rem }
			}
			&:not(:last-of-type) { margin-bottom: 0 }
		}
	}

	body { padding-bottom: 6rem }
}
